.cart-cartItem{
    width:55vw;
    /* border: 2px solid red; */
}
.cart-summary{
    width:20vw;
    /* border:2px solid cyan; */
}
@media all and (max-width:1500px) {
    .cart-cartItem{
        width: 70vw;
    }
    .cart-summary{
        width:30vw;
    }
}
@media all and (max-width:1000px) {
    .cart-cartItem{
        width: 85vw;
    }
    .cart-summary{
        width:35vw;
    }
}
@media all and (max-width:700px) {
    .cart-cartItem{
        flex-wrap: wrap;
    }
    .cart-summary{
        width:70vw;
    }
}
@media all and (max-width:400px) {
    .cart-cartItem{
        width:100vw;
    }
    .cart-summary{
        width:99vw;
    }
    .cart-length-summary{
        padding-left: 10px;
        
    }
    .cart-totalAmount{
        padding-left: 10px;
    }
}